@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: roboto;
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  background-color: #F2ECE1;
  line-height: normal;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "header" "main" "footer";
}

.headerGeneral {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0 1.5rem;
  border: solid;
  background-color: #92BA92;
}

#main {
  grid-area: main;
}

.cardVenta {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border: solid;
  display: flex;
  height: 12rem;
}
.cardVenta div img {
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  border: solid;
  border-radius: 10px;
  border-color: #78938A;
}

.cardVenta:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.cardVenta:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.cardVenta:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.cardVenta:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

.card__description {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 1em;
  align-items: flex-start;
}

.card__compra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1em;
}

.card__price {
  padding-bottom: 3rem;
  font-weight: bolder;
  font-style: italic;
}

.botonAnim {
  font-size: 0.8rem;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #92BA92;
  transition: all 1s ease;
  position: relative;
}
.botonAnim:hover {
  background: #92BA92;
  color: #fff !important;
}

.card__action {
  width: 4rem;
  height: 2rem;
  justify-content: center;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: solid;
  background-color: #78938A;
}

@media screen and (max-width: 480px) {
  .cardVenta {
    height: 15rem;
  }
  .cardVenta div img {
    padding: 0px;
  }
  .card__description {
    margin-top: 1.4em;
  }
}
/*PAGINA DE PERFIL*/
#contenedorPerfil {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagePerfil principalPerfil" "botoneraPerfil principalPerfil";
  border: 1px solid;
}
#contenedorPerfil > div {
  border: 1px solid;
}

#imagePerfil {
  grid-area: imagePerfil;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imagePerfil img {
  margin: 1rem;
  border-radius: 50%;
  border: 2px solid;
}

#botoneraPerfil {
  grid-area: botoneraPerfil;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoneraPerfil__link {
  width: 100%;
}
.botoneraPerfil__link button {
  width: 100%;
  box-sizing: border-box;
}

.botoneraPerfil__button {
  padding: 5px;
  border-color: gray;
  border-radius: 5px;
  font-size: 1rem;
}
.botoneraPerfil__button:hover {
  font-size: 1.5rem;
}

#principalPerfil {
  grid-area: principalPerfil;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#micuenta__title {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
}

.formPerfil {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "nombreForm apellidoForm" "correoForm telefonoForm" "nacimientoForm .";
}

.perfilForm {
  padding: 4rem;
}

.nombreForm {
  grid-area: nombreForm;
  justify-self: end;
  margin-right: 2rem;
}

.apellidoForm {
  grid-area: apellidoForm;
  margin-left: 2rem;
}

.correoForm {
  grid-area: correoForm;
  justify-self: end;
  margin-right: 2rem;
}

.telefonoForm {
  grid-area: telefonoForm;
  margin-left: 2rem;
}

.nacimientoForm {
  grid-area: nacimientoForm;
  justify-self: end;
  margin-right: 2rem;
}

.buttonForm {
  margin-top: 3rem;
}

.form__input {
  border-radius: 1em;
  border: solid 1px #ccc;
  padding: 0.6rem;
  width: 13rem;
}
.form__input:focus {
  border-color: #9FCF9F;
}

.btn {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0;
  box-shadow: 0 1px 1px #799C79;
  color: white;
  background-color: #799C79;
}
.btn:hover {
  background-color: #627C62;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}
.redes .fab {
  padding: 1rem;
  border: 1px solid;
  border-radius: 50%;
}
.redes > a {
  text-decoration: none;
}

.fa-facebook, .fa-whatsapp, .fa-instagram, .fa-twitter {
  background-color: rgb(71, 71, 255);
  color: black;
}

.fa-instagram {
  background-color: rgb(224, 141, 155);
  color: black;
}

.fa-twitter {
  background-color: rgb(116, 163, 252);
  color: black;
}

.fa-whatsapp {
  background-color: rgb(4, 172, 4);
  color: black;
}

.fa-backColor {
  background-color: black;
  color: black;
}

.fa-facebook:hover, .fa-whatsapp:hover, .fa-instagram:hover, .fa-twitter:hover {
  border: solid 1px black;
  color: black;
  transition: all 200ms ease-out;
  background-color: rgb(11, 11, 211);
}

.fa-twitter:hover {
  background-color: rgb(72, 111, 184);
}

.fa-instagram:hover {
  background-color: rgb(196, 103, 118);
}

.fa-whatsapp:hover {
  background-color: rgb(4, 122, 4);
}

@media screen and (max-width: 480px) {
  .formPerfil {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem 0;
    grid-template-areas: "nombreForm" "apellidoForm" "telefonoForm" "correoForm" "nacimientoForm";
  }
  .formPerfil div {
    margin: 0px;
    justify-self: center;
  }
}
.perfilForm {
  padding: 0;
}

#micuenta__title {
  padding: 0;
}

.buttonForm {
  margin: 2rem;
}

.form__input {
  width: 11rem;
}

/*PAGINA DE OFERTAS*/
.containerOfertas {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas: "headerOfertas headerOfertas headerOfertas" "main main main" "footer footer footer";
}

.headerOfertas {
  grid-area: headerOfertas;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0 1.5rem;
  border: solid;
  background-color: #92BA92;
}

.footer {
  grid-area: footer;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2fr 0.9fr;
  gap: 10px 0px;
  grid-template-areas: ". . . . ." ". ofertaEncabezado ofertaEncabezado ofertaEncabezado ." ". ofertas ofertas ofertas .";
  grid-area: main;
}

.ofertaEncabezado {
  grid-area: ofertaEncabezado;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content__encabezado {
  width: 99%;
  text-align: center;
  background-color: #b92c2c;
  border: solid;
}

#content__main {
  border: solid;
  border-top: 0;
}

.ofertas {
  grid-area: ofertas;
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
  align-items: center;
}
.ofertas div img {
  border: 3px solid;
  border-radius: 5px;
  border-color: #999;
  width: 8rem;
  height: 8rem;
  padding: 1em;
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.4fr;
    gap: 2em 0px;
    grid-template-areas: ". . . " "ofertaEncabezado ofertaEncabezado ofertaEncabezado" "ofertas ofertas ofertas";
  }
  .ofertaEncabezado {
    justify-content: center;
  }
  .ofertas {
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 0;
  }
  .ofertas div {
    margin-bottom: 1rem;
  }
}
/*PAGINA DE CONTACTO*/
.containerContacto {
  display: grid;
  height: 100vh;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 2fr 1fr;
  grid-template-areas: "headerContacto headerContacto headerContacto" "encabezado encabezado encabezado" "form form form" "footer footer footer";
}

.headerContacto {
  grid-area: headerContacto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0 1.5rem;
  border: solid;
  background-color: #92BA92;
}

.encabezadoContacto {
  grid-area: encabezado;
  font-family: roboto;
  background-image: url("https://img.freepik.com/fotos-premium/vista-superior-textura-madera-pino-rojo-madera-natural-fondo_7636-1684.jpg?w=2000");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 4rem;
  flex-direction: column;
  text-align: center;
}

.form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "nombreForm apellidoForm" "correoForm edadForm" "razonForm .";
}

.nombreForm {
  grid-area: nombreForm;
  justify-self: end;
  margin-right: 2rem;
}

.apellidoForm {
  grid-area: apellidoForm;
  margin-left: 2rem;
}

.correoForm {
  grid-area: correoForm;
  justify-self: end;
  margin-right: 2rem;
}

.edadForm {
  grid-area: edadForm;
  margin-left: 2rem;
}

.razonForm {
  grid-area: razonForm;
  justify-self: end;
  margin-right: 2rem;
}

.buttonForm {
  margin-top: 3rem;
}

.form__input {
  border-radius: 1em;
  border: solid 1px #ccc;
  padding: 0.6rem;
  width: 13rem;
}

.formContacto {
  grid-area: form;
  padding: 4rem;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: 480px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nombreForm" "apellidoForm" "edadForm" "correoForm" "razonForm";
  }
  .form div {
    margin: 0;
    justify-self: center;
  }
  .form__input {
    width: 11rem;
  }
}
/*PAGINA DE CARRITO*/
.containerGeneral {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "headerCarrito headerCarrito headerCarrito" "mainCarrito mainCarrito mainCarrito" ". . pagarCarrito";
}

.headerCarrito {
  grid-area: headerCarrito;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 1rem 1.5rem 0 1.5rem;
  border: solid;
  border-radius: 1em;
}

.mainCarrito {
  grid-area: mainCarrito;
  text-align: center;
  margin-right: 2.3rem;
  margin-left: 2.3rem;
}
.mainCarrito table {
  width: 100%;
  border-collapse: collapse;
}
.mainCarrito th {
  border-radius: 2px;
  border-bottom: 2px solid #999;
}
.mainCarrito td {
  border-radius: 2px;
  border-bottom: 2px solid #999;
}
.mainCarrito img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pagarCarrito {
  grid-area: pagarCarrito;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}
.pagarCarrito button {
  width: 5rem;
  height: 2rem;
  background-color: #D9F8DA;
}
.pagarCarrito button:hover {
  width: 5.3rem;
  height: 2.3rem;
  background-color: #C9E7CA;
}

@media screen and (max-width: 480px) {
  .mainCarrito {
    margin: 0;
  }
  .mainCarrito table {
    display: block;
    overflow: auto;
  }
  .mainCarrito table th {
    padding: 0 3rem;
  }
  td button {
    font-size: 2em;
    border-radius: 0.3rem;
    border: solid 1px;
  }
  td button:hover {
    font-size: 2.3em;
    border-color: red;
  }
}/*# sourceMappingURL=estilo.css.map */